include LICENSE.md
include README.md
include CHANGES.md
include tox.ini
include requirements/*.txt
include src/ahkpy/*.ahk
include src/ahkpy/Lib/*.ahk
graft tests
graft examples
graft docs
prune docs/_build
prune docs/_themes
global-exclude *.py[co]
