/* Remove min-width in mobile view */
div.body {
    min-width: initial;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5;
}

/* Add bottom margin to functions and classes */
dl {
    margin-bottom: 15px;
}

kbd {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #ccc;
    display: inline-block;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    line-height: 1.2;
    padding: 0 7px;
    white-space: nowrap;
}
